Nodes {
    (n1): {
        "name": "Database Reader",
        "factory": "org.knime.base.node.io.database.DBReaderNodeFactory",
        "bundle_name": "KNIME Base Nodes",
        "bundle_symbolic_name": "org.knime.base",
        "bundle_version": "3.7.1.v201901291053",
        "feature_name": "KNIME Core",
        "feature_symbolic_name": "org.knime.features.base.feature.group",
        "feature_version": "3.7.1.v201901291053",
        "model": [
            {
                "statement": "SELECT * FROM data"
            },
            {
                "execute_without_configure": false
            },
            {
                "driver": "org.sqlite.JDBC"
            },
            {
                "database": ""
            },
            {
                "user": "[Workflows edited with 3.4.1, will not work in older versions]"
            },
            {
                "userName": ""
            },
            {
                "passwordEncrypted": "0168F07456E2496FA29F15BC7D3BC09E95",
                "data_type": "xpassword"
            },
            {
                "password": "",
                "isnull": true
            },
            {
                "timezone": "none"
            },
            {
                "validateConnection": false
            },
            {
                "retrieveMetadataInConfigure": true
            },
            {
                "allowSpacesInColumnNames": false
            },
            {
                "rowIdsStartWithZero": false
            },
            {
                "databaseIdentifier": "",
                "isnull": true
            },
            {
                "kerberos": false
            },
            {
                "knimeVersion": "3.3.0"
            }
        ],
        "port_count": 1
    },
    (n2): {
        "name": "Database Writer",
        "factory": "org.knime.base.node.io.database.DBWriterNodeFactory",
        "bundle_name": "KNIME Base Nodes",
        "bundle_symbolic_name": "org.knime.base",
        "bundle_version": "3.7.1.v201901291053",
        "feature_name": "KNIME Core",
        "feature_symbolic_name": "org.knime.features.base.feature.group",
        "feature_version": "3.7.1.v201901291053",
        "model": [
            {
                "driver": "org.sqlite.JDBC"
            },
            {
                "database": ""
            },
            {
                "user": "[Workflows edited with 3.4.1, will not work in older versions]"
            },
            {
                "userName": ""
            },
            {
                "passwordEncrypted": "0168F07456E2496FA29F15BC7D3BC09E95",
                "data_type": "xpassword"
            },
            {
                "password": "",
                "isnull": true
            },
            {
                "timezone": "none"
            },
            {
                "validateConnection": false
            },
            {
                "retrieveMetadataInConfigure": true
            },
            {
                "allowSpacesInColumnNames": false
            },
            {
                "rowIdsStartWithZero": false
            },
            {
                "databaseIdentifier": "",
                "isnull": true
            },
            {
                "kerberos": false
            },
            {
                "knimeVersion": "3.3.0"
            },
            {
                "table": "summary"
            },
            {
                "append_data": false
            },
            {
                "insert_null_for_missing_cols": true
            },
            {
                "fail_on_error": false
            },
            {
                "sql_types": [
                    {
                        "class": "varchar(255)"
                    }
                ]
            },
            {
                "batch_size": 1
            }
        ],
        "port_count": 0
    },
    (n3): {
        "name": "GroupBy",
        "factory": "org.knime.base.node.preproc.groupby.GroupByNodeFactory",
        "bundle_name": "KNIME Base Nodes",
        "bundle_symbolic_name": "org.knime.base",
        "bundle_version": "3.7.1.v201901291053",
        "feature_name": "KNIME Core",
        "feature_symbolic_name": "org.knime.features.base.feature.group",
        "feature_version": "3.7.1.v201901291053",
        "model": [
            {
                "grouByColumns_Internals": [
                    {
                        "SettingsModelID": "SMID_filterString"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "grouByColumns": [
                    {
                        "InclList": [
                            {
                                "array-size": 1
                            },
                            {
                                "0": "class"
                            }
                        ]
                    },
                    {
                        "ExclList": [
                            {
                                "array-size": 4
                            },
                            {
                                "0": "sepal_length"
                            },
                            {
                                "1": "sepal_width"
                            },
                            {
                                "2": "petal_length"
                            },
                            {
                                "3": "petal_width"
                            }
                        ]
                    },
                    {
                        "keep_all_columns_selected": false
                    }
                ]
            },
            {
                "maxNoneNumericalVals_Internals": [
                    {
                        "SettingsModelID": "SMID_integer"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "maxNoneNumericalVals": 10000
            },
            {
                "enableHilite_Internals": [
                    {
                        "SettingsModelID": "SMID_boolean"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "enableHilite": false
            },
            {
                "sortInMemory_Internals": [
                    {
                        "SettingsModelID": "SMID_boolean"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "sortInMemory": false
            },
            {
                "aggregationColumn": [
                    {
                        "columnNames": [
                            {
                                "array-size": 2
                            },
                            {
                                "0": "sepal_length"
                            },
                            {
                                "1": "sepal_width"
                            }
                        ]
                    },
                    {
                        "columnTypes": [
                            {
                                "array-size": 2
                            },
                            {
                                "0": [
                                    {
                                        "cell_class": "org.knime.core.data.def.DoubleCell"
                                    },
                                    {
                                        "is_null": false
                                    }
                                ]
                            },
                            {
                                "1": [
                                    {
                                        "cell_class": "org.knime.core.data.def.DoubleCell"
                                    },
                                    {
                                        "is_null": false
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "aggregationMethod": [
                            {
                                "array-size": 2
                            },
                            {
                                "0": "Maximum"
                            },
                            {
                                "1": "Maximum"
                            }
                        ]
                    },
                    {
                        "inclMissingVals": [
                            {
                                "array-size": 2
                            },
                            {
                                "0": false
                            },
                            {
                                "1": false
                            }
                        ]
                    }
                ]
            },
            {
                "aggregationOperatorSettings": []
            },
            {
                "patternAggregators": []
            },
            {
                "dataTypeAggregators": []
            },
            {
                "columnNamePolicy_Internals": [
                    {
                        "SettingsModelID": "SMID_string"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "columnNamePolicy": "Keep original name(s)"
            },
            {
                "retainOrder_Internals": [
                    {
                        "SettingsModelID": "SMID_boolean"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "retainOrder": true
            },
            {
                "inMemory_Internals": [
                    {
                        "SettingsModelID": "SMID_boolean"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "inMemory": false
            },
            {
                "valueDelimiter_Internals": [
                    {
                        "SettingsModelID": "SMID_string"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "valueDelimiter": ", "
            },
            {
                "nodeVersion_Internals": [
                    {
                        "SettingsModelID": "SMID_integer"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "nodeVersion": 0
            }
        ],
        "port_count": 1
    },
    (n5): {
        "name": "SQLite Connector",
        "factory": "org.knime.database.connectors.sqlite.SQLiteConnectorNodeFactory",
        "bundle_name": "KNIME connectors to common databases",
        "bundle_symbolic_name": "org.knime.database.connectors",
        "bundle_version": "3.7.0.v201808081048",
        "feature_name": "KNIME Connectors for Common Databases",
        "feature_symbolic_name": "org.knime.features.dbdrivers.feature.group",
        "feature_version": "3.7.0.v201808081048",
        "model": [
            {
                "driver": "org.sqlite.JDBC"
            },
            {
                "database": "jdbc:sqlite:/Users/knime/Documents/Workspaces/Comcast/004001_Database_SimpleIO/db.sqlite"
            },
            {
                "user": "[Workflows edited with 3.4.1, will not work in older versions]"
            },
            {
                "userName": ""
            },
            {
                "passwordEncrypted": "0168F07456E2496FA29F15BC7D3BC09E95",
                "data_type": "xpassword"
            },
            {
                "password": "",
                "isnull": true
            },
            {
                "timezone": "current"
            },
            {
                "validateConnection": true
            },
            {
                "retrieveMetadataInConfigure": true
            },
            {
                "allowSpacesInColumnNames": true
            },
            {
                "rowIdsStartWithZero": true
            },
            {
                "databaseIdentifier": "sqlite"
            },
            {
                "kerberos": false
            },
            {
                "knimeVersion": "3.3.0"
            },
            {
                "sqlite-connection": [
                    {
                        "path": "knime://knime.workflow/db.sqlite"
                    }
                ]
            }
        ],
        "port_count": 1
    }
}

Workflow {
    "connections": {
        (n1:1)-->(n3:1),
        (n3:1)-->(n2:1),
        (n5:1)-->(n1:1),
        (n5:1)-->(n2:2)
    }
}
