Nodes {
    (n1): {
        "name": "File Reader",
        "factory": "org.knime.base.node.io.filereader.FileReaderNodeFactory",
        "bundle_name": "KNIME Base Nodes",
        "bundle_symbolic_name": "org.knime.base",
        "bundle_version": "3.7.1.v201901291053",
        "feature_name": "KNIME Core",
        "feature_symbolic_name": "org.knime.features.base.feature.group",
        "feature_version": "3.7.1.v201901291053",
        "model": [
            {
                "DataURL": "knime://knime.workflow/data/file1.txt"
            },
            {
                "Delimiters": [
                    {
                        "Delim0": [
                            {
                                "pattern": "%%00010"
                            },
                            {
                                "combineMultiple": true
                            },
                            {
                                "includeInToken": false
                            },
                            {
                                "returnAsToken": true
                            }
                        ]
                    },
                    {
                        "Delim1": [
                            {
                                "pattern": "%%00013"
                            },
                            {
                                "combineMultiple": true
                            },
                            {
                                "includeInToken": false
                            },
                            {
                                "returnAsToken": true
                            }
                        ]
                    },
                    {
                        "Delim2": [
                            {
                                "pattern": " "
                            },
                            {
                                "combineMultiple": true
                            },
                            {
                                "includeInToken": false
                            },
                            {
                                "returnAsToken": false
                            }
                        ]
                    }
                ]
            },
            {
                "Quotes": [
                    {
                        "Quote0": [
                            {
                                "left": "\""
                            },
                            {
                                "right": "\""
                            },
                            {
                                "EscChar": "\\",
                                "data_type": "xchar"
                            },
                            {
                                "DontRem": false
                            }
                        ]
                    },
                    {
                        "Quote1": [
                            {
                                "left": "'"
                            },
                            {
                                "right": "'"
                            },
                            {
                                "EscChar": "\\",
                                "data_type": "xchar"
                            },
                            {
                                "DontRem": false
                            }
                        ]
                    }
                ]
            },
            {
                "Comments": []
            },
            {
                "WhiteSpaces": [
                    {
                        "WhiteSpace0": " "
                    },
                    {
                        "WhiteSpace1": "%%00009"
                    }
                ]
            },
            {
                "CombineMultDelims": false
            },
            {
                "SkipFirstLines": 0,
                "data_type": "xlong"
            },
            {
                "NewLineInQuotes": false
            },
            {
                "hasColHdr": true
            },
            {
                "hasRowHdr": true
            },
            {
                "ignoreEmptyLines": true
            },
            {
                "rowPrefix": "Row"
            },
            {
                "RowDelims": [
                    {
                        "RDelim0": "%%00010"
                    },
                    {
                        "SkipEmptyLine0": true
                    },
                    {
                        "RDelim1": "%%00013"
                    },
                    {
                        "SkipEmptyLine1": true
                    }
                ]
            },
            {
                "MissingPatterns": []
            },
            {
                "FormatParameter": []
            },
            {
                "globalMissPattern": "",
                "isnull": true
            },
            {
                "DecimalSeparator": ".",
                "data_type": "xchar"
            },
            {
                "ThrousandsSeparator": "%%00000",
                "data_type": "xchar"
            },
            {
                "ignEmtpyTokensAtEOR": true
            },
            {
                "acceptShortLines": false
            },
            {
                "uniquifyRowID": false
            },
            {
                "MaxNumOfRows": -1,
                "data_type": "xlong"
            },
            {
                "ColNumDetermLine": -1
            },
            {
                "CharsetName": "",
                "isnull": true
            },
            {
                "ConnectTimeoutInSeconds": 1
            },
            {
                "delimsAtEOLuserVal": false
            },
            {
                "numOfColumns": 2
            },
            {
                "ColumnProperties": [
                    {
                        "0": [
                            {
                                "UserSetValues": false
                            },
                            {
                                "MissValuePattern": "",
                                "isnull": true
                            },
                            {
                                "FormatParameter": "",
                                "isnull": true
                            },
                            {
                                "ReadPossValsFromFile": false
                            },
                            {
                                "SkipThisColumn": false
                            },
                            {
                                "ColumnName": "Attribute1"
                            },
                            {
                                "ColumnClass": [
                                    {
                                        "cell_class": "org.knime.core.data.def.DoubleCell"
                                    },
                                    {
                                        "is_null": false
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "1": [
                            {
                                "UserSetValues": false
                            },
                            {
                                "MissValuePattern": "?"
                            },
                            {
                                "FormatParameter": "",
                                "isnull": true
                            },
                            {
                                "ReadPossValsFromFile": false
                            },
                            {
                                "SkipThisColumn": false
                            },
                            {
                                "ColumnName": "Attribute2"
                            },
                            {
                                "ColumnClass": [
                                    {
                                        "cell_class": "org.knime.core.data.def.StringCell"
                                    },
                                    {
                                        "is_null": false
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ],
        "port_count": 1
    },
    (n2): {
        "name": "CSV Reader",
        "factory": "org.knime.base.node.io.csvreader.CSVReaderNodeFactory",
        "bundle_name": "KNIME Base Nodes",
        "bundle_symbolic_name": "org.knime.base",
        "bundle_version": "3.7.1.v201901291053",
        "feature_name": "KNIME Core",
        "feature_symbolic_name": "org.knime.features.base.feature.group",
        "feature_version": "3.7.1.v201901291053",
        "model": [
            {
                "url": "knime://knime.workflow/data/file2.csv"
            },
            {
                "colDelimiter": ","
            },
            {
                "rowDelimiter": "%%00010"
            },
            {
                "quote": "\""
            },
            {
                "commentStart": "#"
            },
            {
                "hasRowHeader": true
            },
            {
                "hasColHeader": true
            },
            {
                "supportShortLines": false
            },
            {
                "limitRowsCount": -1,
                "data_type": "xlong"
            },
            {
                "skipFirstLinesCount": -1
            },
            {
                "characterSetName": "",
                "isnull": true
            },
            {
                "limitAnalysisCount": -1
            }
        ],
        "port_count": 1
    },
    (n3): {
        "name": "Joiner",
        "factory": "org.knime.base.node.preproc.joiner.Joiner2NodeFactory",
        "bundle_name": "KNIME Base Nodes",
        "bundle_symbolic_name": "org.knime.base",
        "bundle_version": "3.7.1.v201901291053",
        "feature_name": "KNIME Core",
        "feature_symbolic_name": "org.knime.features.base.feature.group",
        "feature_version": "3.7.1.v201901291053",
        "model": [
            {
                "duplicateHandling": "AppendSuffixAutomatic"
            },
            {
                "compositionMode": "MatchAll"
            },
            {
                "joinMode": "InnerJoin"
            },
            {
                "leftTableJoinPredicate": [
                    {
                        "array-size": 1
                    },
                    {
                        "0": "$RowID$"
                    }
                ]
            },
            {
                "rightTableJoinPredicate": [
                    {
                        "array-size": 1
                    },
                    {
                        "0": "$RowID$"
                    }
                ]
            },
            {
                "suffix": "(*)"
            },
            {
                "leftIncludeCols": [
                    {
                        "array-size": 2
                    },
                    {
                        "0": "Attribute1"
                    },
                    {
                        "1": "Attribute2"
                    }
                ]
            },
            {
                "rightIncludeCols": [
                    {
                        "array-size": 1
                    },
                    {
                        "0": "Attribute3"
                    }
                ]
            },
            {
                "leftIncludeAll": true
            },
            {
                "rightIncludeAll": true
            },
            {
                "rmLeftJoinCols": false
            },
            {
                "rmRightJoinCols": true
            },
            {
                "maxOpenFiles": 200
            },
            {
                "rowKeySeparator": "_"
            },
            {
                "enableHiLite": false
            },
            {
                "numBitsInitial": 6
            },
            {
                "numBitsMaximal": 32
            },
            {
                "usedMemoryThreshold": 0.85,
                "data_type": "xdouble"
            },
            {
                "minAvailableMemory": 10000000,
                "data_type": "xlong"
            },
            {
                "memUseCollectionUsage": true
            },
            {
                "version": "version_3"
            }
        ],
        "port_count": 1
    },
    (n4): {
        "name": "CSV Writer",
        "factory": "org.knime.base.node.io.csvwriter.CSVWriterNodeFactory",
        "bundle_name": "KNIME Base Nodes",
        "bundle_symbolic_name": "org.knime.base",
        "bundle_version": "3.7.1.v201901291053",
        "feature_name": "KNIME Core",
        "feature_symbolic_name": "org.knime.features.base.feature.group",
        "feature_version": "3.7.1.v201901291053",
        "model": [
            {
                "colSeparator": ","
            },
            {
                "missing": ""
            },
            {
                "quoteBegin": "\""
            },
            {
                "quoteEnd": "\""
            },
            {
                "quoteMode": "STRINGS"
            },
            {
                "quoteReplacement": ""
            },
            {
                "sepReplacePattern": ""
            },
            {
                "ReplSepInStrings": false
            },
            {
                "writeColHeader": true
            },
            {
                "writeRowHeader": true
            },
            {
                "decimalSeparator": ".",
                "data_type": "xchar"
            },
            {
                "lineEndingMode": "SYST"
            },
            {
                "charSet": "",
                "isnull": true
            },
            {
                "filename": "knime://knime.workflow/data/outfile.csv"
            },
            {
                "fileOverwritePolicy": "Overwrite"
            },
            {
                "skipWriteColHeaderOnAppend": false
            },
            {
                "commentBegin": ""
            },
            {
                "commentEnd": ""
            },
            {
                "addTime": false
            },
            {
                "addUser": false
            },
            {
                "addTablename": false
            },
            {
                "userCommentLine": ""
            },
            {
                "gzip": false
            }
        ],
        "port_count": 0
    },
    (n5): {
        "name": "Column Resorter",
        "factory": "org.knime.base.node.preproc.columnresorter.ColumnResorterNodeFactory",
        "bundle_name": "KNIME Base Nodes",
        "bundle_symbolic_name": "org.knime.base",
        "bundle_version": "3.7.1.v201901291053",
        "feature_name": "KNIME Core",
        "feature_symbolic_name": "org.knime.features.base.feature.group",
        "feature_version": "3.7.1.v201901291053",
        "model": [
            {
                "ColumnOrder": [
                    {
                        "array-size": 4
                    },
                    {
                        "0": "Attribute1"
                    },
                    {
                        "1": "Attribute3"
                    },
                    {
                        "2": "<any unknown new column>"
                    },
                    {
                        "3": "Attribute2"
                    }
                ]
            }
        ],
        "port_count": 1
    }
}

Workflow {
    "connections": {
        (n1:1)-->(n3:1),
        (n2:1)-->(n3:2),
        (n3:1)-->(n5:1),
        (n5:1)-->(n4:1)
    }
}
