Nodes {
    (n2): {
        "name": "SQLite Connector",
        "factory": "org.knime.database.connectors.sqlite.SQLiteConnectorNodeFactory",
        "bundle_name": "KNIME connectors to common databases",
        "bundle_symbolic_name": "org.knime.database.connectors",
        "bundle_version": "3.7.0.v201808081048",
        "feature_name": "KNIME Connectors for Common Databases",
        "feature_symbolic_name": "org.knime.features.dbdrivers.feature.group",
        "feature_version": "3.7.0.v201808081048",
        "model": [
            {
                "driver": "org.sqlite.JDBC"
            },
            {
                "database": "jdbc:sqlite:C:\\temp\\sqlite.db"
            },
            {
                "user": "[Workflows edited with 3.4.1, will not work in older versions]"
            },
            {
                "userName": ""
            },
            {
                "passwordEncrypted": "0168F07456E2496FA29F15BC7D3BC09E95",
                "data_type": "xpassword"
            },
            {
                "password": "",
                "isnull": true
            },
            {
                "timezone": "current"
            },
            {
                "validateConnection": false
            },
            {
                "retrieveMetadataInConfigure": true
            },
            {
                "allowSpacesInColumnNames": true
            },
            {
                "rowIdsStartWithZero": true
            },
            {
                "databaseIdentifier": "sqlite"
            },
            {
                "kerberos": false
            },
            {
                "knimeVersion": "3.3.0"
            },
            {
                "sqlite-connection": [
                    {
                        "path": "C:\\temp\\sqlite.db",
                        "used_variable": "dbFile"
                    }
                ]
            }
        ],
        "port_count": 1
    },
    (n3): {
        "name": "Create Temp Dir",
        "factory": "org.knime.base.node.util.createtempdir.CreateTempDirectoryNodeFactory",
        "bundle_name": "KNIME Base Nodes",
        "bundle_symbolic_name": "org.knime.base",
        "bundle_version": "3.7.1.v201901291053",
        "feature_name": "KNIME Core",
        "feature_symbolic_name": "org.knime.features.base.feature.group",
        "feature_version": "3.7.1.v201901291053",
        "model": [
            {
                "baseName": "knime_tempcreator_"
            },
            {
                "variableName": "temp_path"
            },
            {
                "deleteOnReset": true
            },
            {
                "variable_name_pairs": [
                    {
                        "dbFile": [
                            {
                                "variableName": "dbFile"
                            },
                            {
                                "fileName": "db.sqlite"
                            }
                        ]
                    }
                ]
            }
        ],
        "port_count": 1
    },
    (n4): {
        "name": "Data Generator",
        "factory": "org.knime.base.node.util.sampledata.SampleDataNodeFactory",
        "bundle_name": "KNIME Base Nodes",
        "bundle_symbolic_name": "org.knime.base",
        "bundle_version": "3.7.1.v201901291053",
        "feature_name": "KNIME Core",
        "feature_symbolic_name": "org.knime.features.base.feature.group",
        "feature_version": "3.7.1.v201901291053",
        "model": [
            {
                "stddeviation": 0.1,
                "data_type": "xdouble"
            },
            {
                "noise": 0.0,
                "data_type": "xdouble"
            },
            {
                "patcount": 500
            },
            {
                "seed": 669291646
            },
            {
                "clustercount": [
                    {
                        "array-size": 2
                    },
                    {
                        "0": 2
                    },
                    {
                        "1": 2
                    }
                ]
            },
            {
                "unisize": [
                    {
                        "array-size": 2
                    },
                    {
                        "0": 2
                    },
                    {
                        "1": 2
                    }
                ]
            }
        ],
        "port_count": 2
    },
    (n5): {
        "name": "Scatter Plot (JFreeChart)",
        "factory": "org.knime.ext.jfc.node.scatterplot.JfcScatterPlotNodeFactory",
        "bundle_name": "KNIME JFreeChart nodes",
        "bundle_symbolic_name": "org.knime.ext.jfreechart",
        "bundle_version": "3.7.0.v201808081048",
        "feature_name": "KNIME JFreeChart",
        "feature_symbolic_name": "org.knime.features.ext.jfreechart.feature.group",
        "feature_version": "3.7.0.v201808081048",
        "model": [
            {
                "graph_title_Internals": [
                    {
                        "SettingsModelID": "SMN_string_disact"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "graph_title": "Title"
            },
            {
                "graph_title_BOOL": false
            },
            {
                "graph_height_Internals": [
                    {
                        "SettingsModelID": "SMID_integer"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "graph_height": 600
            },
            {
                "graph_width_Internals": [
                    {
                        "SettingsModelID": "SMID_integer"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "graph_width": 400
            },
            {
                "CFG_TYPE_IMAGE_Internals": [
                    {
                        "SettingsModelID": "SMID_string"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "CFG_TYPE_IMAGE": "PNG"
            },
            {
                "CFG_BackColor_Internals": [
                    {
                        "SettingsModelID": "SMID_color"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "CFG_BackColor": [
                    {
                        "Red": 255
                    },
                    {
                        "Green": 255
                    },
                    {
                        "Blue": 255
                    },
                    {
                        "Alpha": 255
                    }
                ]
            },
            {
                "CFG_PlotColor_Internals": [
                    {
                        "SettingsModelID": "SMID_color"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "CFG_PlotColor": [
                    {
                        "Red": 191
                    },
                    {
                        "Green": 191
                    },
                    {
                        "Blue": 191
                    },
                    {
                        "Alpha": 255
                    }
                ]
            },
            {
                "CFG_PlotAlpha_Internals": [
                    {
                        "SettingsModelID": "SMID_double"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "CFG_PlotAlpha": 0.2,
                "data_type": "xdouble"
            },
            {
                "CFG_FSScale_Internals": [
                    {
                        "SettingsModelID": "SMID_double"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "CFG_FSScale": 1.0,
                "data_type": "xdouble"
            },
            {
                "col_x_Internals": [
                    {
                        "SettingsModelID": "SMID_string"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "col_x": "Universe_0_0"
            },
            {
                "col_y_Internals": [
                    {
                        "SettingsModelID": "SMID_string"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "col_y": "Universe_0_1"
            },
            {
                "Item_Size_Internals": [
                    {
                        "SettingsModelID": "SMID_double"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "Item_Size": 10.0,
                "data_type": "xdouble"
            },
            {
                "CGG_NR_ROW_Internals": [
                    {
                        "SettingsModelID": "SMID_integer"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "CGG_NR_ROW": 2500
            },
            {
                "cfg_autoRange_Internals": [
                    {
                        "SettingsModelID": "SMID_boolean"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "cfg_autoRange": true
            },
            {
                "CFG_SHOW_HISTORY_Internals": [
                    {
                        "SettingsModelID": "SMID_boolean"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "CFG_SHOW_HISTORY": false
            }
        ],
        "port_count": 1
    },
    (n6): {
        "name": "Color Manager",
        "factory": "org.knime.base.node.viz.property.color.ColorManager2NodeFactory",
        "bundle_name": "KNIME Base Nodes",
        "bundle_symbolic_name": "org.knime.base",
        "bundle_version": "3.7.1.v201901291053",
        "feature_name": "KNIME Core",
        "feature_symbolic_name": "org.knime.features.base.feature.group",
        "feature_version": "3.7.1.v201901291053",
        "model": [
            {
                "palette_option": "custom_set"
            },
            {
                "selected_column": "Cluster Membership"
            },
            {
                "is_nominal": true
            },
            {
                "Cluster_0": -65536
            },
            {
                "Cluster_1": -8323328
            },
            {
                "Cluster_2": -16711681
            },
            {
                "Cluster_3": -8388353
            },
            {
                "values": [
                    {
                        "array-size": 4
                    },
                    {
                        "0": [
                            {
                                "datacell": "org.knime.core.data.def.StringCell"
                            },
                            {
                                "org.knime.core.data.def.StringCell": [
                                    {
                                        "StringCell": "Cluster_0"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "1": [
                            {
                                "datacell": "org.knime.core.data.def.StringCell"
                            },
                            {
                                "org.knime.core.data.def.StringCell": [
                                    {
                                        "StringCell": "Cluster_1"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "2": [
                            {
                                "datacell": "org.knime.core.data.def.StringCell"
                            },
                            {
                                "org.knime.core.data.def.StringCell": [
                                    {
                                        "StringCell": "Cluster_2"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "3": [
                            {
                                "datacell": "org.knime.core.data.def.StringCell"
                            },
                            {
                                "org.knime.core.data.def.StringCell": [
                                    {
                                        "StringCell": "Cluster_3"
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ],
        "port_count": 2
    },
    (n7): {
        "name": "Image To Table",
        "factory": "org.knime.base.node.image.ImageToTableNodeFactory",
        "bundle_name": "KNIME Base Nodes",
        "bundle_symbolic_name": "org.knime.base",
        "bundle_version": "3.7.1.v201901291053",
        "feature_name": "KNIME Core",
        "feature_symbolic_name": "org.knime.features.base.feature.group",
        "feature_version": "3.7.1.v201901291053",
        "model": [
            {
                "generated_rowkey_Internals": [
                    {
                        "SettingsModelID": "SMID_string"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "generated_rowkey": "Row0"
            },
            {
                "columnName_Internals": [
                    {
                        "SettingsModelID": "SMID_string"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "columnName": "Image"
            }
        ],
        "port_count": 1
    },
    (n8): {
        "name": "Database Writer",
        "factory": "org.knime.base.node.io.database.DBWriterNodeFactory",
        "bundle_name": "KNIME Base Nodes",
        "bundle_symbolic_name": "org.knime.base",
        "bundle_version": "3.7.1.v201901291053",
        "feature_name": "KNIME Core",
        "feature_symbolic_name": "org.knime.features.base.feature.group",
        "feature_version": "3.7.1.v201901291053",
        "model": [
            {
                "driver": "org.sqlite.JDBC"
            },
            {
                "database": "jdbc:sqlite://<host>:<port>/<database_name>"
            },
            {
                "user": "[Workflows edited with 3.4.1, will not work in older versions]"
            },
            {
                "userName": ""
            },
            {
                "passwordEncrypted": "0168F07456E2496FA29F15BC7D3BC09E95",
                "data_type": "xpassword"
            },
            {
                "password": "",
                "isnull": true
            },
            {
                "timezone": "current"
            },
            {
                "validateConnection": false
            },
            {
                "retrieveMetadataInConfigure": false
            },
            {
                "allowSpacesInColumnNames": true
            },
            {
                "rowIdsStartWithZero": false
            },
            {
                "databaseIdentifier": "",
                "isnull": true
            },
            {
                "kerberos": false
            },
            {
                "knimeVersion": "3.3.0"
            },
            {
                "table": "image"
            },
            {
                "append_data": false
            },
            {
                "insert_null_for_missing_cols": false
            },
            {
                "fail_on_error": false
            },
            {
                "sql_types": [
                    {
                        "Image": "BLOB"
                    }
                ]
            },
            {
                "batch_size": 1
            }
        ],
        "port_count": 0
    },
    (n9): {
        "name": "Database Table Selector",
        "factory": "org.knime.base.node.io.database.connection.DBTableSelectorNodeFactory",
        "bundle_name": "KNIME Base Nodes",
        "bundle_symbolic_name": "org.knime.base",
        "bundle_version": "3.7.1.v201901291053",
        "feature_name": "KNIME Core",
        "feature_symbolic_name": "org.knime.features.base.feature.group",
        "feature_version": "3.7.1.v201901291053",
        "model": [
            {
                "statement": "SELECT * FROM image"
            },
            {
                "execute_without_configure": true
            },
            {
                "driver": "org.sqlite.JDBC"
            },
            {
                "database": "jdbc:sqlite://<host>:<port>/<database_name>"
            },
            {
                "user": "[Workflows edited with 3.4.1, will not work in older versions]"
            },
            {
                "userName": "",
                "isnull": true
            },
            {
                "passwordEncrypted": "0168F07456E2496FA29F15BC7D3BC09E95",
                "data_type": "xpassword"
            },
            {
                "password": "",
                "isnull": true
            },
            {
                "timezone": "current"
            },
            {
                "validateConnection": false
            },
            {
                "retrieveMetadataInConfigure": false
            },
            {
                "allowSpacesInColumnNames": true
            },
            {
                "rowIdsStartWithZero": false
            },
            {
                "databaseIdentifier": "",
                "isnull": true
            },
            {
                "kerberos": false
            },
            {
                "knimeVersion": "3.3.0"
            }
        ],
        "port_count": 1
    },
    (n10): {
        "name": "Database Connection Table Reader",
        "factory": "org.knime.base.node.io.database.DBConnectionNodeFactory",
        "bundle_name": "KNIME Base Nodes",
        "bundle_symbolic_name": "org.knime.base",
        "bundle_version": "3.7.1.v201901291053",
        "feature_name": "KNIME Core",
        "feature_symbolic_name": "org.knime.features.base.feature.group",
        "feature_version": "3.7.1.v201901291053",
        "model": [
            {
                "useDbRowId_Internals": [
                    {
                        "SettingsModelID": "SMID_boolean"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "useDbRowId": true
            }
        ],
        "port_count": 1
    },
    (n11): {
        "name": "PNGs to Binary Objects",
        "factory": "org.knime.base.filehandling.pngstobinaryobjects.PNGsToBinaryObjectsNodeFactory",
        "bundle_name": "KNIME File Handling Nodes",
        "bundle_symbolic_name": "org.knime.base.filehandling",
        "bundle_version": "3.7.0.v201811132201",
        "feature_name": "KNIME File Handling Nodes",
        "feature_symbolic_name": "org.knime.features.base.filehandling.feature.group",
        "feature_version": "3.7.0.v201811132201",
        "model": [
            {
                "columnselection_Internals": [
                    {
                        "SettingsModelID": "SMID_string"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "columnselection": "Image"
            },
            {
                "columnname_Internals": [
                    {
                        "SettingsModelID": "SMID_string"
                    },
                    {
                        "EnabledStatus": false
                    }
                ]
            },
            {
                "columnname": "BinaryObject"
            },
            {
                "replace_Internals": [
                    {
                        "SettingsModelID": "SMID_string"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "replace": "Replace"
            }
        ],
        "port_count": 1
    },
    (n12): {
        "name": "Binary Objects to PNGs",
        "factory": "org.knime.base.filehandling.binaryobjectstopngs.BinaryObjectsToPNGsNodeFactory",
        "bundle_name": "KNIME File Handling Nodes",
        "bundle_symbolic_name": "org.knime.base.filehandling",
        "bundle_version": "3.7.0.v201811132201",
        "feature_name": "KNIME File Handling Nodes",
        "feature_symbolic_name": "org.knime.features.base.filehandling.feature.group",
        "feature_version": "3.7.0.v201811132201",
        "model": [
            {
                "columnselection_Internals": [
                    {
                        "SettingsModelID": "SMID_string"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "columnselection": "Image"
            },
            {
                "columnname_Internals": [
                    {
                        "SettingsModelID": "SMID_string"
                    },
                    {
                        "EnabledStatus": false
                    }
                ]
            },
            {
                "columnname": "PNG"
            },
            {
                "replace_Internals": [
                    {
                        "SettingsModelID": "SMID_string"
                    },
                    {
                        "EnabledStatus": true
                    }
                ]
            },
            {
                "replace": "Replace"
            }
        ],
        "port_count": 1
    }
}

Workflow {
    "connections": {
        (n2:1)-->(n8:2),
        (n2:1)-->(n9:1),
        (n3:1)~~>(n2),
        (n4:1)-->(n6:1),
        (n5:1)-->(n7:1),
        (n6:1)-->(n5:1),
        (n7:1)-->(n11:1),
        (n9:1)-->(n10:1),
        (n10:1)-->(n12:1),
        (n11:1)-->(n8:1)
    }
}
